In [1]:
import pandas as pd

In [3]:
dados = pd.read_excel('dados/aluguel.xlsx')

In [4]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [5]:
# 1 e 2 Quartos
# 3 e 4 Quartos
# 5 e 6 Quartos
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [9]:
quartos = pd.cut(dados['Quartos'], classes)

In [10]:
quartos

0    (0.0, 2.0]
1    (0.0, 2.0]
2           NaN
3    (0.0, 2.0]
4    (0.0, 2.0]
5    (2.0, 4.0]
6    (0.0, 2.0]
7    (4.0, 6.0]
8    (0.0, 2.0]
9           NaN
Name: Quartos, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [11]:
pd.value_counts(quartos)

(0, 2]      6
(2, 4]      1
(4, 6]      1
(6, 100]    0
Name: Quartos, dtype: int64

In [19]:
labels = ['0 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [20]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels)

In [21]:
pd.value_counts(quartos)

0 e 2 quartos        6
3 e 4 quartos        1
5 e 6 quartos        1
7 quartos ou mais    0
Name: Quartos, dtype: int64

In [22]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels, include_lowest=True)

In [25]:
pd.value_counts(quartos)

0 e 2 quartos        8
3 e 4 quartos        1
5 e 6 quartos        1
7 quartos ou mais    0
Name: Quartos, dtype: int64